{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Accueil{% endblock %}

{% block body %}
    <section class="vh-100 position-relative" style="background: center/ cover no-repeat url('{{ asset('images/hero.jpg') }}')" id="hero">
        <div class=" px-4 px-lg-5 h-100 mw-100 d-flex justify-content-center align-items-center" style="background-color: black; opacity: 0.7">
                <div class="col-md-10 col-lg-8 col-xl-7 mw-100">
                    <div>
                        <h1 class="text-primary text-center font-weight-bold mw-100" style="font-size: 86px;">SNOW TRICKS</h1>
                        <p class="text-light text-center font-weight-bold" style="font-size: 20px;" >Bonjour je suis Jimmy Sweat, un passionné de snowboard.
                            L'objectif de ce site est de partager ma passion et aider à l'apprentissage des figures (tricks).</p>
                    </div>
                </div>

            <a href="#tricks"><button type="button" class="position-absolute btn btn-outline-primary rounded-circle p-3 bottom"
                       style="bottom: 20vh; right: 5vw" ><i class="fa-solid fa-arrow-down fa-2xl"></i></button></a>
        </div>
    </section>

    <section class="py-5 mb-5 mb-lg-0" id="tricks">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center h1">
                {{ message }}
            </div>
        {% endfor %}
        <div class="d-flex justify-content-center mb-4">
            <a href="{{ path('app_tricks_createtrick') }}"><button type="button" class="btn btn-outline-primary">Ajouter une figure</button></a>
        </div>
        <div class="px-xl-3 d-flex justify-content-start flex-wrap">
            {% for trick in tricks %}

                <div class="card mx-auto my-4 my-md-2 mx-xl-2 col-10 col-xl-2" style="height: 500px; width: 400px">
                    <a href="{{ path( 'app_tricks_getonetrick',{'slug':trick.name } ) }}" class="h-100 w-100  text-decoration-none"
                       style=" background: center/ cover no-repeat url({{ trick.picture ? asset('images/'~trick.picture[0]) : asset('images/snowboard.jpg') }})">
                    </a>
                        <div class="card-footer d-flex justify-content-between bg-dark text-light">
                            <div>
                            {{ trick.name }}
                            </div>
                            <div>
                                <a class="me-2" href="{{ path('app_tricks_updatetrick',{'slug':trick.name }) }}"><i class="fa-solid fa-pencil"></i></a>
                                <a class="ms-2 text-light" href="#"><i class="fa-solid fa-trash-can"></i></a>
                            </div>
                        </div>
                </div>

            {% endfor %}
        </div>
        <div class="m-auto d-flex justify-content-center mt-4">

            {% if tricks|length == 15 and nbTricks > 15 %}
                <a href="{{ path('app_tricks')~'#tricks' }}" class="mb-3 mb-lg-0"><button type="button" class="btn btn-outline-primary">Afficher tout</button></a>
            {% elseif tricks|length > 15 %}
                <a href="#tricks"><button type="button" class="btn btn-outline-primary rounded-circle position-fixed"
                                          style="bottom: 8vh; right: 5vw; width: 58px; height: 58px" ><i class="fa-solid fa-arrow-up fa-2xl"></i></button></a>
            {% endif %}

        </div>
    </section>
{% endblock %}
