{% block header %}
    <nav class="navbar navbar-expand-lg d-none d-lg-flex navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_home') }}"><font style="vertical-align: inherit;">SnowTricks</font></a>
            <div class="" id="navbarColor01">
                <ul class="navbar-nav me-5">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_home') }}"><font style="vertical-align: inherit;">Accueil</font></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_tricks') }}#tricks"><font style="vertical-align: inherit;">Tricks</font></a>
                    </li>
                    {% if not app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_registration') }}"><font style="vertical-align: inherit;">S'inscrire</font></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}"><font style="vertical-align: inherit;">Se connecter</font></a>
                        </li>
                    {% endif %}
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}"><font style="vertical-align: inherit;">Se déconnecter</font></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <nav class="d-lg-none navbar-dark bg-primary fixed-bottom mt-5">
        <div class="container-fluid">
            <div class="" id="navbarColor01">
                <ul class="navbar-nav flex-row justify-content-around p-2 p-md-4">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_home') }}"><i class="fa-sharp fa-solid fa-house-chimney fa-xl fa-md-2xl"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_tricks') }}"><i class="fa-solid fa-bookmark fa-xl fa-md-2xl"></i></a>
                    </li>
                    {% if not app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_registration') }}"><i class="fa-solid fa-right-to-bracket fa-xl fa-md-2xl"></i></a>
                        </li>
                    {% endif %}
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}"><i class="fa-solid fa-right-from-bracket fa-xl fa-md-2xl"></i></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

