{% extends 'base.html.twig' %}

{% block title %}Snowtrick - {{ trick.name }}{% endblock %}

{% block body %}

    <section class="mb-5 mb-lg-2 pb-5 pb-lg-2">
        <div class="border min-vh-100 ">
            <div class="w-auto m-auto " style="height: 50vh; background: center/ cover no-repeat url({{ trick.picture ? asset('images/'~trick.picture[0]) : asset('images/snowboard.jpg') }})">
                <div class="position-relative px-4 px-lg-5 h-100 mw-100 d-flex justify-content-center align-items-center" style="background-color: black; opacity: 0.7">
                    <div class="position-absolute " style="top: 5%; right: 5%">
                        <a href="#"><i class="fa-solid fa-pencil mx-2"></i></a>
                        <a href="#"><i class="fa-solid fa-trash-can mx-2"></i></a>
                    </div>
                    <h1 style="font-size: 68px" >{{ trick.name }}</h1>
                </div>
            </div>
            {% if trick.picture %}

                <h2 class="text-center my-4">{{ trick.name }} en image</h2>
                <div class="px-2 px-md-5 px-xl-2 d-flex justify-content-start flex-wrap border">

                    {% set nb = 1 %}

                    {% for picture in trick.picture %}

                        {% set nb = nb + 1 %}

                        <div class=" col-12 col-lg-1 mx-auto my-3 m-xl-4" style="width: 300px; height: 400px" >
                            <a class="h-100 text-decoration-none d-flex justify-content-center overflow-hidden"
                               style="cursor: pointer; background: center/ cover no-repeat url({{ asset('images/'~picture) }})" data-toggle="modal" data-target="#carousel{{ nb }}"></a>
                        </div>

                    <!-- Modal -->
                    <div class="modal fade" id="carousel{{ nb }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header d-flex justify-content-end">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <img class="w-100 h-100" src="{{ asset('images/'~picture)  }}" alt="snowboard-trick">
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                </div>
            {% endif %}

            {% if trick.video %}
                <h2 class="text-center my-4">{{ trick.name }} en video</h2>
                <div class="p-lg-2 d-flex justify-content-center justify-content-md-start flex-wrap border">
                    {% for video in trick.video %}
                        <iframe class="my-2 mx-1 mx-lg-2 col-10 col-lg-3" style="height: 300px; width: 400px; " src="{{ video }}" allowfullscreen></iframe>
                        <iframe class="my-2 mx-1 mx-lg-2 col-10 col-lg-3" style="height: 300px; width: 400px; " src="{{ video }}" allowfullscreen></iframe>
                        <iframe class="my-2 mx-1 mx-lg-2 col-10 col-lg-3" style="height: 300px; width: 400px; " src="{{ video }}" allowfullscreen></iframe>
                        <iframe class="my-2 mx-1 mx-lg-2 col-10 col-lg-3" style="height: 300px; width: 400px; " src="{{ video }}" allowfullscreen></iframe>
                        <iframe class="my-2 mx-1 mx-lg-2 col-10 col-lg-3" style="height: 300px; width: 400px; " src="{{ video }}" allowfullscreen></iframe>
                    {% endfor %}

                </div>
            {% endif %}

            <div class="container">
                <h2 class="text-center my-4">Description de la figure</h2>
                <p style="font-size: 20px">{{ trick.description }}</p>
                <div>
                    <p>Cette figure appartient au groupe des : <strong>{{ trick.tricksGroup }}</strong></p>
                    <p>Figure publiée le <strong>{{ trick.createdAt|date('d/m/Y') }}</strong></p>
                </div>
            </div>

        </div>
    </section>

{% endblock %}
