{% extends 'base.html.twig' %}

{% block title %}Snowtrick - {{ trick.name }}{% endblock %}

{% block body %}

    <section class="mb-5 mb-lg-2 pb-5 pb-lg-2">
        <div class="border min-vh-100 ">
            <div class="w-auto m-auto " style="height: 50vh; background: center/ cover no-repeat url({{ trick.picture ? asset('images/'~trick.picture[0]) : asset('images/snowboard.jpg') }})">
                <div class="position-relative px-4 px-lg-5 h-100 mw-100 d-flex justify-content-center align-items-center" style="background-color: black; opacity: 0.7">
                    <div class="position-absolute " style="top: 5%; right: 5%">
                        <button type="button" class="btn btn-primary me-2 p-0">
                            <a class=" btn text-light"  href="{{ path('app_tricks_managetrick',{'slug':'update','name':trick.name }) }}"><i class="fa-solid fa-pencil"></i></a>
                        </button>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger "  data-toggle="modal" data-target="#modalDelete">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </div>
                    <h1 style="font-size: 68px" >{{ trick.name }}</h1>
                </div>
                <!-- Modal -->
                <div  class="modal fade text-dark" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-dark" >Suppression de : {{ trick.name }}</h5>
                            </div>
                            <div class="modal-body">
                                Êtes-vous certain de vouloir supprimer cette figure ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>
                                <a class="ms-2 text-light" href="{{ path('app_tricks_managetrick',{'slug':'delete','name':trick.name}) }}"><button type="button" class="btn btn-danger">Supprimer</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if trick.picture %}

                <h2 class="text-center my-4">{{ trick.name }} en image</h2>
                <div class="px-2 px-md-5 px-xl-2 d-flex justify-content-start flex-wrap border">

                    {% set nb = 1 %}

                    {% for picture in trick.picture %}

                        {% set nb = nb + 1 %}

                        <div class=" col-12 col-lg-1 mx-auto my-3 m-xl-4" style="width: 300px; height: 400px" >
                            <a class="h-100 text-decoration-none d-flex justify-content-center overflow-hidden"
                               style="cursor: pointer; background: center/ cover no-repeat url({{ asset('images/'~picture) }})" data-toggle="modal" data-target="#carousel{{ nb }}"></a>
                        </div>

                    <!-- Modal -->
                    <div class="modal fade" id="carousel{{ nb }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header d-flex justify-content-end">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <img class="w-100 h-100" src="{{ asset('images/'~picture)  }}" alt="snowboard-trick">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if trick.video %}
                <h2 class="text-center my-4">{{ trick.name }} en video</h2>
                <div class="p-lg-2 d-flex justify-content-center justify-content-md-start flex-wrap border">
                    {% for video in trick.video %}
                        <iframe class="my-2 mx-1 mx-lg-2 col-10 col-lg-3" style="height: 300px; width: 400px; " src="{{ video }}" allowfullscreen></iframe>
                    {% endfor %}

                </div>
            {% endif %}

            <div class="container d-flex flex-column align-items-center">
                <h2 class="text-center my-4">Description de la figure</h2>
                <p style="font-size: 20px">{{ trick.description }}</p>
                <div>
                    <p>Cette figure appartient au groupe des : <strong>{{ trick.tricksGroup }}</strong></p>
                    <p>Publiée le <strong>{{ trick.createdAt|date('d/m/Y') }}</strong></p>
                </div>
            </div>

            {% for message in app.flashes('success') %}
                <div id="success" class="alert alert-success text-center h1">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div id="error" class="alert alert-danger text-center h1">
                    {{ message }}
                </div>
            {% endfor %}


            <div>
                {% include 'comments/formComment.html.twig' %}
            </div>

            <div id="comments">
                {% include 'comments/showComments.html.twig' %}
            </div>


        </div>
    </section>

{% endblock %}
