{% extends 'base.html.twig' %}

{% block title %}Snowtrick - {{ trick.name }}{% endblock %}

{% block body %}

    <section class="mb-5 mb-lg-2 pb-5 pb-lg-2">
        <div class="border min-vh-100 ">
            <div class="w-auto m-auto " style="height: 50vh; background: center/ cover no-repeat url({{ trick.pictures ? asset('images/'~trick.pictures[0]) : asset('images/snowboard.jpg') }})">
                <div class="position-relative px-4 px-lg-5 h-100 mw-100 d-flex justify-content-center align-items-center" style="background-color: black; opacity: 0.7">
                    <div class="position-absolute " style="top: 5%; right: 5%">
                        {% if app.user and app.user == trick.getUser() %}
                            <button type="button" class="btn btn-primary me-2 p-0">
                                <a class=" btn text-light"  href="{{ path('app_tricks_managetrick',{'slug':'update','name':trick.name }) }}"><i class="fa-solid fa-pencil"></i></a>
                            </button>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger "  data-toggle="modal" data-target="#modalDelete">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        {% endif %}
                    </div>
                    <h1 style="font-size: 68px" >{{ trick.name }}</h1>
                </div>
                <!-- Modal -->
                <div  class="modal fade text-dark" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-dark" >Suppression de : {{ trick.name }}</h5>
                            </div>
                            <div class="modal-body">
                                Êtes-vous certain de vouloir supprimer cette figure ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>
                                <a class="ms-2 text-light" href="{{ path('app_tricks_managetrick',{'slug':'delete','name':trick.name}) }}"><button type="button" class="btn btn-danger">Supprimer</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if trick.pictures %}

                <h2 class="text-center my-4">{{ trick.name }} en image</h2>
                <div class="d-flex justify-content-center flex-wrap border">

                    {% for picture in trick.pictures %}

                        <div class="card my-3 my-xl-4 mx-auto mx-md-3 mx-xl-4 col-10 col-md-5 col-xl-2" style="height: 400px" >
                            <a class="h-100 w-100  text-decoration-none"
                               style="cursor: pointer; background: center/ cover no-repeat url({{ asset('images/'~picture) }})" data-toggle="modal" data-target="#modal{{ loop.index0 }}"></a>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="modal{{ loop.index0 }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header d-flex justify-content-end">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <img class="w-100 h-100" src="{{ asset('images/'~picture)  }}" alt="snowboard-trick">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if trick.videos %}
                <h2 class="text-center my-4">{{ trick.name }} en video</h2>
                <div class="d-flex justify-content-center flex-wrap border">
                    {% for video in trick.videos %}
                        <div class="card my-3 my-xl-4 mx-auto mx-md-3 mx-xl-4 col-10 col-md-5 col-xl-2" style="height: 250px">
                            <iframe class="h-100" src="{{ video }}" allowfullscreen></iframe>
                        </div>
                    {% endfor %}

                </div>
            {% endif %}

            <div class="container d-flex flex-column align-items-center">
                <h2 class="text-center my-4">Description de la figure</h2>
                <p style="font-size: 20px">{{ trick.description }}</p>
                <div>
                    <p>Cette figure appartient au groupe des : <strong>{{ trick.tricksGroup }}</strong></p>
                    <p>Publiée le <strong>{{ trick.createdAt|date('d/m/Y') }}</strong></p>
                    {% if trick.updatedAt != null %}
                        <p>Dernière mise à jour le <strong>{{ trick.updatedAt|date('d/m/Y') }}</strong></p>
                    {% endif %}
                </div>
            </div>

            {% if app.user %}
                <div>
                    {% include 'comments/formComment.html.twig' %}
                </div>
            {% endif %}

            <div id="comments">
                {% include 'comments/showComments.html.twig' %}
            </div>


        </div>
    </section>

{% endblock %}
